@font-face {
    font-family: 'TrajanProBold';
    src: url('fonts/trajanpro-regular.eot');
    src: url('fonts/trajanpro-regular.eot') format('embedded-opentype'),
    url('fonts/trajanpro-regular.woff') format('woff'),
    url('fonts/TRAJANPR.TTF') format('truetype'),
    url('fonts/trajanpro-regular.svg#TrajanProBold') format('svg');
}
@font-face {
    font-family: 'helvetica_neueregular_medium';
    src: url('fonts/helveticaneue-medium-webfont-webfont.eot');
    src: url('fonts/helveticaneue-medium-webfont-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/helveticaneue-medium-webfont-webfont.woff') format('woff'),
    url('fonts/helveticaneue-medium-webfont-webfont.ttf') format('truetype'),
    url('fonts/helveticaneue-medium-webfont-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica_neueregular_roman';
    src: url('fonts/helveticaneue-roman-webfont-webfont.eot');
    src: url('fonts/helveticaneue-roman-webfont-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/helveticaneue-roman-webfont-webfont.woff') format('woff'),
    url('fonts/helveticaneue-roman-webfont-webfont.ttf') format('truetype'),
    url('fonts/helveticaneue-roman-webfont-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face{
    font-family: 'HelveticaNeueBold';
    src: url('fonts/helveticaneue-bold-webfont.eot');
    src: url('fonts/helveticaneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/helveticaneue-bold-webfont.woff') format('woff'),
    url('fonts/helveticaneue-bold-webfont.ttf') format('truetype'),
    url('fonts/helveticaneue-bold-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sans_regular';
    src: url('fonts/pts55f.eot');
    src: url('fonts/pts55f.eot?#iefix') format('embedded-opentype'),
    url('fonts/pts55f.woff') format('woff'),
    url('fonts/pts55f.ttf') format('truetype'),
    url('fonts/pts55f.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

hr{
    border: solid #ccc;
    border-width: 1px 0 0;
}

b {
    font-weight: 600;
    color: #000;
}

#wrap{
    background-color: #FFFFFF;
}

/* HOME */

.homepage-slide-content{
    width: 100%;
    top: 406px;
}
#homepage-slider-wrap{
    max-height: 570px;
}
.homepage-slide-title{
    width: 100%;
    background: none;
}
.homepage-slide-caption{
    width: 100%;
    background: none;
    margin: 0;
    padding: 0;
    font-family: helvetica;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 12%;
}

.homepage-slide-caption.caption_first_line{
    font-size: 46px;
    line-height: 46px;
}

.homepage-slide-caption.caption_second_line{
    font-size: 72px;
    line-height: 72px;
    margin-top: 10px;
}

.homepage-slider-slide{
    min-height: 570px;
    -webkit-background-size: cover;
    background-position: 50% 50%;
    background-size: cover;
}
.sub-menu-home{
    padding-left: 5%;
    float: left;
    margin-top: 20px;
    display: none;
}

.sub-menu-home li, .sub-menu-home li a{
    display: inline-block;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
}
.sub-menu-home ul li:nth-child(2){
    border-right: solid 1px #fff;
    padding-right: 5px;
    text-align: right;
}
.sub-menu-home li:nth-child(3){
    padding-left: 1px;
    text-align: left;
}

/* FOOTER */
body{
    background-color: #5D574F;
    font-family: "open-sans";
    font-style: normal;
    font-weight: 400;
}
body a{
    color: #552684;
}
body a:hover{

}
body.home{
    background: #D8CBBA url("../images/bg_footer_buttons.png");
}

#footer-buttons-wrap{
    background: #D8CBBA url("../images/bg_footer_buttons.png");
}

#footer-buttons{
    padding-top: 60px;
    padding-bottom: 93px;
}

#footer-buttons-wrap .col{
    margin-bottom: 0;
    text-align: center;
}

#copyright-wrap{
    background: transparent;
    padding: 0 0 51px 0;
    display: none;
}

#copyright-wrap li{
    display: inline-block;
    color: #552683;
    font-size: 16px;
    font-family: helvetica_neueregular_roman;
 }

#copyright-wrap li:nth-child(1){
    color: #4A4A4A;
}

.home #copyright-wrap{
    display: block;
}

.home #footer-buttons{
    padding-top: 40px;
    padding-bottom: 98px;
}

.home #footer-wrap{
    display: none;
}

#footer-buttons-wrap img{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#footer-buttons-wrap img:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

#footer-wrap{
    color: #FFFFFF;
    font-size: 14px;
    background-color: #5D574F;
    padding-top: 0;
    font-family: helvetica_neueregular_roman;
    line-height: 18px;
}
#footer-wrap a:hover{
    color: #552684;
}
#footer-widgets{
    border-top: 1px solid #8F8B86;
    padding-top: 18px;
    padding-bottom: 45px;
}
.footer-box{
    min-height: 170px;
    border-right: 1px solid #8F8B86;
    padding: 10px 3%;
    margin: 0;
}
#footer-widgets .span_1_of_3.col-2,#footer-widgets .span_1_of_3.col-3,#footer-widgets .span_1_of_3.col-1{
    padding: 10px 3%;
}
#footer-widgets .span_1_of_3.col-1{
    text-align: right;
}
.footer-box.col-3{
    border: none;
}

.footer-widget{
    margin-bottom: 0;
}

.social-icon{
    padding: 0 8px;
}

#footer-wrap input[type="text"], #footer-wrap input[type="search"]{
    border: 1px solid #C4C4C4;
    font-size: 14px;
    display: inline-block;
    background-color: #FFFFFF;
    height: 32px;
    width: 150px;
}
#email-signup .submit{
    background-color:#11110F;
    display: inline-block;
    height: 32px;
    margin-left: -3px;
}

#email-signup{
    text-align: right;
}

#footer-social-wrap{
    padding-top: 28px;
    padding-bottom: 20px;
}

#footer-social-wrap .col{
    margin-bottom: 0;
}

#footer-social-wrap input[placeholder],
#footer-social-wrap [placeholder],
#footer-social-wrap *[placeholder] {
    color: #11110E !important;
}

#social-icons{
    padding-left: 0px;
}
#footer-social-wrap .col-2{
    margin-left: 0;
}
/* HEADER */

#header-wrap-block{
    background-color:#fff ;
    min-height: 207px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
#logo img{
    margin: 0 auto;
}
#site-navigation-wrap{
    top: 42%;
}
a#navigation-toggle {
    display: block;
    color: #552583;
    font-size: 30px;
}

#site-navigation{
    display: none;
}

#header-wrap{
    height: 842px;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-bottom: 1px solid #cccccc;
}

#header-text-box{
    width: 418px;
    background-color: #FFFFFF;
    opacity: 0.89;
    filter: alpha(opacity=89);
    border: 1px solid #cccccc;
    position: absolute;
    top: 450px;
    right: 174px;
    padding: 38px 25px;
    font-size: 18px;
    color: #552683;
    line-height: 30px;
}
#header-text-box title{
    font-family: "open-sans";
    font-style: normal;
    font-weight: 700;
    color: #552683;
    padding-bottom: 15px;
    display: block;
}

#menu-main-menu-1{
    display: table;
    margin: 0px auto;
}
/* Sub main menu */

.sub-main-menu{
    padding-bottom: 30px;
}

.sub-main-menu a{
    color:#552683;
    font-size: 16px;
    padding: 0 18px;
}
#sub-menu-title-page{
    font-size: 34px;
    color: #552683;
}

.sub-main-menu li{
    display: inline-block;
}

.sub-main-menu li.menu-item-40 a,.sub-main-menu li.menu-item-218 a,.sub-main-menu li.menu-item-45 a,.sub-main-menu li.menu-item-41 a{
    color: transparent;
    padding: 0;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    display: block;
}
.sub-main-menu li.menu-item-40 a{
    background-image: url("../images/cafe_logo.png");
    width: 293px;
    height: 27px;
}
.sub-main-menu li.menu-item-218 a{
    background-image: url("../images/weddings_logo.png");
    width: 392px;
    height: 24px;
}
.sub-main-menu li.menu-item-45 a{
    background-image: url("../images/catering_logo.png");
    width: 373px;
    height: 24px;
}
.sub-main-menu li.menu-item-41 a{
    background-image: url("../images/banquets_logo.png");
    width: 375px;
    height: 29px;
}

a[title="hidden-item"],
#sidr-main ul a[title="hidden-item"],
#sidr-main ul a[title="aux_item_menu_cafe"],
#sidr-main ul a[title="aux_item_menu_weddings"],
#sidr-main ul a[title="aux_item_menu_catering"],
#sidr-main ul a[title="aux_item_menu_banquets"],
.sub-main-menu-mobile ul a[title="hidden-item"],
.sub-main-menu-mobile ul a[title="aux_item_menu_cafe"],
.sub-main-menu-mobile ul a[title="aux_item_menu_weddings"],
.sub-main-menu-mobile ul a[title="aux_item_menu_catering"],
.sub-main-menu-mobile ul a[title="aux_item_menu_banquets"]{
    display: none;
}

/* sub sub main menu  */
#sub-sub-main-menu-select{
    background-color: #552683;
    color: #FFFFFF;
    padding: 8px 14px;
    font-weight: 600;
}

#sub-sub-main-menu-select{
    display: none;
}
.sub-sub-main-menu{
    margin: 0px auto 0 auto;
    display: table;
    height: 46px;
}

.sub-sub-main-menu a{
    color: #552683;
    background-color: #EDE2D1;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 8px;

}

.sub-sub-main-menu li{
    float: left;
    margin: 0 9px;
}

.sub-sub-main-menu li.current-menu-item a{
    background-color: #FFFFFF;
    margin-top: 3px;
}
/* MEnu Mobile */
#sidr-main a{
    color: #FFFFFF;

}

#sidr-main{
    background-color: #552683;
    padding: 30px 0 0 0;
}
#sidr-main #sidr-id-menu-item-21{
    display: none;
}
#sidr-main ul a,#sidr-main ul li ul li a{
    padding: 10px 30px;
}

#sidr-main ul a{
    border: none;

}
#sidr-main .sidr-inner:nth-child(3){
    display: none;
}

#sidr-main ul li ul li ul {
    display: none;
}

#sidr-main ul li ul {
    background-color: #663B8F;
    border-bottom: 1px solid #8D6DAC;
}

.sidr-class-toggle-sidr-close:before{
    left: inherit;
    right: 18px;
    top: 12px;
}

#sidr-main ul li ul li a:before{
    content: initial;
}

/* CONTENT */
#content{
    font-size: 17px;
    line-height: 30px;
}



/*Paypal Form GiftCards */

#paypal_form{
    font-weight: 700;
    font-size: 17px;
}

#paypal_form table{
    float: right;
    width: 100%;
    text-align: right;
}

#paypal_form td{
    padding: 8px;
}

select{
    padding: 16px;
    border-radius: 6px;
    width: 100%;
}

#paypal_form option{
    min-height: 30px;
}

#paypal_form input[name="submit"] {
    float: right;
    margin-right: 76px;
    margin-top: 10px;
}


.sidr-class-sub-menu{
    text-transform: capitalize;
}

input#email-input.blur{
    font-family: "pt_sans_regular";
}

/*NINJA FORM STYLES*/
.entry input[type="submit"]{
    background: #552684;
    border-radius: 5px;
}


.ninja-forms-form .list-dropdown-wrap.label-above select,.ninja-forms-form  select, .ninja-forms-form input, .ninja-forms-form textarea{
    position: relative;
    padding: 10px;
    border-radius: 6px;
    float: right;
    width: 216px;
    background-color: #FFFFFF;
    margin-top: -30px;
}

.ninja-forms-form .list-dropdown-wrap.label-above select option,.ninja-forms-form  select option{

    padding: 5px;
}

.ninja-forms-form .field-wrap{
    width: 60%;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], textarea{
    font-family: "open-sans";
}



/* EVENTS WOOCOMERCE  */

form.cart table.tribe-events-tickets button, .woocommerce input[type="submit"], .wc-proceed-to-checkout a{
    height: inherit !important;
    background-color: #552684 !important;
    color:#FFFFFF !important;
}
.woocommerce .product-remove a.remove{
    color:#552684 !important;
}

.woocommerce .product-remove a.remove:hover {
    color: #fff!important;
    background: #552684;
}

.sub-main-menu-mobile{
    text-align: center;
}

.sub-main-menu-mobile li{
    display: inline;
}

.sub-main-menu-mobile ul{
    text-align: center;
}

.sub-main-menu-mobile a{
    font-size: 17px;
    color: #552684;
    font-weight: normal;
    text-transform: uppercase;

}
.sub-main-menu-mobile > a, .sub-main-menu-mobile li.current-menu-item a{
    font-weight: 600;

}

.sub-main-menu-mobile ul a{
    display: inline-block;
    border-left: 1px solid #552684;
    padding-left: 5px;
    margin-left: 5px;
}
.sub-main-menu-mobile ul li:nth-child(1) a{
    border: none;
}

.sub-main-menu-mobile{
    display: none;
}

.sub-sub-main-menu-widget{
    position: relative;
    margin-top: -39px;
}

/* RESPONSIVE */

@media only screen and (min-width: 1300px) {
    .sub-sub-main-menu a {
        font-size: 20px;
        padding: 10px 10px;
    }
    .sub-sub-main-menu {
        margin: 0px auto 0 auto;
    }
    .sub-sub-main-menu-widget{
        margin-top: -43px;
    }
}

@media only screen and (min-width: 1070px) {
    .container {
        width: 1046px;
    }
    #social-icons{
        padding-left: 47px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 960px) {
    .container {
        max-width: 95%;
    }
    .page-template-single-gallery-php .container{
        max-width: 100%;
    }

}



@media only screen and (min-width: 768px) and (max-width: 959px){
    .homepage-slide-caption.caption_first_line{
        font-size: 39px;
        line-height: 39px;
    }

    .homepage-slide-caption.caption_second_line{
        font-size: 58px;
        line-height: 58px;
        margin-top: 8px;
    }
    .homepage-slide-content{
        width: 100%;
        top: 440px;
    }
    .page-template-single-gallery-php .container{
        max-width: 100%;
    }

}

@media only screen and (max-width: 1024px) {

    #header-text-box{
        width: 418px;
        right: 47px;
    }
    #content{
        font-size: 16px;
        line-height: 32px;
    }

}

@media only screen  and (max-width: 959px){
    .homepage-slide-caption{
        padding-left: 8%;
    }

    span.purple_text_big{
        font-size: 28px !important;
        line-height: 44px !important;
        padding-bottom: 30px !important;
        margin-bottom: 30px !important;
    }
    #header-wrap {
        height: 567px;
    }
    #header-text-box{
        font-size: 14px;
        line-height: 22px;
        top: 250px;
        width: 302px;
        right: 32px;
        padding: 36px 20px;
    }
    #header-text-box title{
        font-size: 18px;
    }


    .sub-main-menu ul li{
        display: none;
        text-align: center;
    }

    .sub-main-menu ul li a{
        margin: 0 auto;
        width: 272px;
    }

    .sub-main-menu li.menu-item-40,.sub-main-menu li.menu-item-43,.sub-main-menu li.menu-item-45,.sub-main-menu li.menu-item-41, .sub-main-menu li.menu-item-218{
        display: block;
    }

    .sub-sub-main-menu a {
        font-size: 11px;
        padding: 4px 4px;
    }
    .sub-sub-main-menu {
        margin: 0px auto 0 auto;
    }
    .sub-sub-main-menu-widget{
        margin-top: -31px;
    }


}

@media only screen and (max-width: 767px){

    #header {
        text-align: left;
        position: relative;
        padding: 10px 0;
    }
    #header-wrap-block {
        padding: 8px;
    }
    .sub-main-menu{
        padding-bottom: 10px;
    }
    .sub-main-menu-mobile{
        display: block;
    }
    .ninja-forms-form .list-dropdown-wrap.label-above select,.ninja-forms-form  select, .ninja-forms-form .field-wrap input, .ninja-forms-form .field-wrap textarea{
        position:inherit;
        float: none;
        margin-top: 0px;
        margin-left: 0px;
        width: 100%;
    }


    .ninja-forms-form .field-wrap.label-left .ninja-forms-field, .ninja-forms-form .field-wrap.label-left .ninja-forms-star-rating-control{
        margin-left: 0px;
    }
    .ninja-forms-form .field-wrap{
        width: 100%;
    }

    .sub-sub-main-menu {
        margin: 0px auto 0 auto;
    }
    .sub-sub-main-menu-widget{
        display: none;
    }
    #sub-sub-main-menu-select{
        display: block;
        margin-top: 20px;
    }
    #logo img{
        max-width: 190px;
    }
    .sub-main-menu li.menu-item-40 a,.sub-main-menu li.menu-item-43 a,.sub-main-menu li.menu-item-45 a,.sub-main-menu li.menu-item-41 a,.sub-main-menu li.menu-item-218 a{
        max-width: 207px;
        height: initial;
    }
    a#navigation-toggle .fa{
        margin-right: 0;
    }
    .footer-box{
        border: none;
        min-height: inherit;
    }
    .homepage-slide-content {
        display: block;
    }

    .homepage-slide-caption.caption_first_line{
        font-size: 32px;
        line-height: 32px;
    }

    .homepage-slide-caption.caption_second_line{
        font-size: 40px;
        line-height: 40px;
        margin-top: 8px;
    }
    .homepage-slide-content{
        width: 100%;
        top: 120px;
    }

    .homepage-slide-caption{
        padding-left: 5%;
    }

    #footer-buttons .col {
            width: 46%;
            margin: 0 2% 25px 2%;
    }
    .home #footer-buttons{
        padding-bottom: 18px;
        padding-top: 18px;
    }
    .homepage-slider-slide{
        min-height: 300px;

    }
    .sub-menu-home{
        display: block;
    }
    #email-signup{
        text-align: center;
        padding-bottom: 18px;
        border-bottom: 1px solid #8F8B86;
    }
    #social-icons{
        padding-top: 9px;
        padding-left: 0;
        text-align: center;
    }
    #social-icons a.social-icon{
        padding-top: 12px;
        display: inline-block;
    }
    .social-icon{
        padding: 0 3px;
    }
    #footer-widgets .span_1_of_3.col-1{
    text-align: left;
     }

    #facebook_icon img{
        width: 24px;
    }
    #twitter_icon img{
        width: 26px;
    }
    #painteres_icon img{
        width: 25px;
    }
    #knot_icon img{
        width: 25px;
    }
    #yelp_icon img{
        width: 52px;
    }
    #open_table_icon img{
        width: 104px;
    }

    #header-text-box{
        width: 244px;
        right: 4%;
        padding: 8px 10px;
        font-size: 12px;
        line-height: 16px;
        top: 235px;
    }
    #header-text-box title{
        font-size: 14px;
        padding-bottom: 5px;
    }

    .menu-main-menu-1{
        text-align: center;
    }


    li.cafe a,li.weddings a,li.catering a,li.banquets a{
        max-width: 100%;
    }
    #content{
        font-size: 14px;
        line-height: 28px;
    }
    #paypal_form td{
        padding: 5px;
    }

    #paypal_form select {
        padding: 8px 0 8px 8px ;
    }
    #paypal_form {
        font-size: 14px;
    }
    span.purple_text_big{
        font-size: 20px !important;
        line-height: 26px !important;
        padding-bottom: 20px !important;
        margin-bottom: 20px !important;
    }

    #header-wrap{
        height: 375px;
    }

    #footer-widgets{
        padding-bottom: 0;
    }
    .footer-box .textwidget{
        padding-left: 15%;
    }

    #main{
        padding: 20px 0 20px 0;
    }
    .page-template-single-gallery-php .container {
        max-width: 100%;
        width: 100%;
    }

}


/* GALLERY */


.page-template-single-gallery-php .sub-sub-main-menu, .single-tribe_events .sub-sub-main-menu{
    display: none;
}
.page-template-single-gallery-php #header-wrap, .single-tribe_events #header-wrap{
    height: auto;
    border-bottom: none;
    box-shadow: none;
}

.page-template-single-gallery-php #main{
    width: 100%;
    background-color: #DFDFDF;
}


.page-template-single-gallery-php .uris-slider-title, .single-tribe_events .uris-slider-title{
    display: none;
}

/*CALENDAR*/

.tribe-bar-filters{
    right: 16.66667%;
    left: auto;
    width: 83.3333%;
}

a.tribe-events-ical.tribe-events-button{
    display: none !important;
}
li.tribe-events-nav-previous a, li.tribe-events-nav-next a, p.tribe-events-back a, a.tribe-events-read-more,h4.summary a, h4.summary a:hover, a.tribe-events-gmap {
    color: #552684;
}
.tribe-events-month-event-title.entry-title.summary a {
    color: #552684;
}
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] a{
    background: #b2b2b2;
}
.tribe-events-calendar thead th{
    background: #552684;
}
#tribe-bar-form .tribe-bar-submit input[type=submit]{
    background: #552684;
    color: #ffffff !important;
}
#tribe-bar-form.tribe-bar-full .tribe-bar-filters{
    width: 80% !important;
}
td.tribe-events-present{
    background-color: #eeeeee;
}

#tribe-events-content .tribe-events-tooltip h4, #tribe_events_filters_wrapper .tribe_events_slider_val, .single-tribe_events a.tribe-events-gcal, .single-tribe_events a.tribe-events-ical{
    color: #552684;
}

a.tribe-events-gcal.tribe-events-button
{
    background-color: #552684 !important;
}

.loop-entry{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.events-archive .sub-sub-main-menu{
    display:none;
}


/*RESPONSIVE CALENDAR TWEAKS*/
@media only screen and (max-width: 768px) {
    .tribe-events-sub-nav li a{
        background: none;
    }
    #tribe-events-content .tribe-events-calendar td.tribe-events-present.mobile-active:hover, .tribe-events-calendar td.tribe-events-present.mobile-active, .tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-] a{
        background-color: #eeeeee;
        color: #552684;
    }

    #tribe-events-content .tribe-events-calendar .mobile-active:hover, #tribe-events-content .tribe-events-calendar td.tribe-events-othermonth.mobile-active, #tribe-events-content .tribe-events-calendar td.tribe-events-othermonth.mobile-active div[id*=tribe-events-daynum-], #tribe-events-content .tribe-events-calendar td.tribe-events-othermonth.mobile-active div[id*=tribe-events-daynum-] a, .tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-], .tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-] a, .tribe-events-calendar td.mobile-active{
        background-color: #eeeeee;
        color: #552684 !important;
    }

    #tribe-events-content .tribe-events-calendar td.tribe-events-present:hover, .tribe-events-calendar td.tribe-events-present, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a {
        background-color: #b2b2b2;
    }
    .tribe-events-calendar thead th {
    padding: 7px 0 !important;
    }
}
